<!-- Split button -->
<!-- <div class="btn-group ">
    <button type="button" class="btn btn-default">操作</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/posts/edit?id=<%= post._id %>">编辑</a>
        </li>
    </ul>
</div> -->


<div  style="margin-top: 35px;">
    <% if(currentUser && currentUser._id.toString() === post.authorId.toString() ) { %>
    <div class="editBtn">
        <div class="btn_group col-md-2">
            <div>
                <a href="/posts/edit?id=<%= post._id %>">编辑</a>
            </div>
            <!-- // TODO: 删除 -->
            <div>
                <a href="/posts/delete?id=<%= post._id %>">删除</a>
            </div>

        </div>

    </div>
    <% } %>
    
    <div  style="margin-top:30px;">
        <div >
            <h1>
                <%= post.title %>
            </h1>
            <div class="chinese-article">
                <%- post.mkContent %>
            </div>
        </div>
    </div>

</div>

<script>href="/js/highlight.pack.js" </script>
<script>hljs.initHighlightingOnLoad();</script>

