<!-- Split button -->
<!-- <div class="btn-group ">
    <button type="button" class="btn btn-default">操作</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/posts/edit?id=<%= post._id %>">编辑</a>
        </li>
    </ul>
</div> -->


<div  style="margin-top: 35px;">
    <% if(currentUser && currentUser._id.toString() === post.authorId.toString() ) { %>
    <div class="editBtn">
        <div class="btn_group col-md-2">
            <div>
                <a href="/posts/edit?id=<%= post._id %>">编辑</a>
            </div>
            <!-- // TODO: 删除 -->
            <div>
                <a v-on:click"delete">删除</a>
            </div>

        </div>

    </div>
    <% } %>
    
    <div  style="margin-top:30px;">
        <div >
            <h1>
                <%= post.title %>
            </h1>
            <div>
                <%- post.mkContent %>
            </div>
        </div>
    </div>

</div>

<script>
   var id = '<%= post._id %>'
   var vm = new Vue({
       el: '#app',
       methods: {
        delete() {
               axios.delete('/api/v1/posts/'+id)
                   .then(function (response) {
                       if (response.status !== 200) {
                           throw new Error('error!');
                       }
                       return response.data;
                   })
                   .then(function (data) {
                    window.history.back();
                   })
                   .catch(function (err) {
                       if (err.response.data.error) {
                           alert(err.response.data.error);
                       } else {
                           alert(err.message);
                       }
                       
                   })
           }
       }
   });
</script>